body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

/* Menu */
a {
  color: #fff;
}

.header {
  background-color: #515150;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #515150;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover {
  color: #5aa8dc;
}

.header .logo {
  float: left;
  display: block;
  padding: 10px 20px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
/* Main content */
.wrapper {
  width: 100%;
}

.main-content {
  width: 100%;
}

.main-content h2 {
  padding: 30px 30px 0px;
  font-size: 50px;
  color: #5aa8dc;
  line-height: 44px;
  text-align: center;
}

.main-content p {
  padding: 0px 30px 10px;
  font-size: 16px;
  color: #000;
  line-height: 24px;
}

.ligthviewBlack {
  width: 100%;
}

.lightviewWhite {
  width: 100%;
}

.lightviewSpecs {
  width: 100%;
}

.mail-icon{
  height: 50px;
  padding: 0px 30px 10px;
}

.phone-icon{
  height: 50px;
  padding: 0px 30px 10px;
}


/* footer */
.footer {
  background: #515150;
  color: #fff;
  height: 300px;
  position: relative;
  display: none;
}

.footer .footer-content {
  height: 300px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1,
h2 {
  color: white;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  text-decoration: none;
  list-style: circle;
  transition: all 0.3s;
}

.footer .footer-content .links ul a:hover {
  color: #5aa8dc;
  margin-left: 15px;
  transition: all 0.3s;
}

.footer .footer-section h2 {
  color: #5aa8dc;
  font-family: "Montserrat", sans-serif;
}

.fa {
  padding: 3px;
  font-size: 30px;
  width: 50px;
  text-align: left;
  text-decoration: none;
}

.fa:hover {
  color: #5aa8dc;
}

.footer .footer-bottom {
  background: #5aa8dc;
  color: #fff;
  height: 30px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}

/* responsive layout */

@media only screen and (min-width: 768px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .wrapper {
    width: 600px;
    margin: auto;
  }

  .main-content h2 {
    padding: 20px 0px 0px;
  }

  .main-content p {
    padding: 20px 0px 0px;
  }

  .products h2 {
    padding: 20px 0px 0px;
  }

  .products p {
    padding: 20px 0px 0px;
  }
  .footer {
    display: block;
  }
  .fa {
    width: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }

  .main-content h2 {
    padding: 10px 0px 0px;
  }

  .ligthviewBlack {
    width: 50%;
  }

  .lightviewWhite {
    width: 50%;
    float: right;
  }

  .lightviewSpecs {
    width: 50%;
  }
  .footer {
    display: block;
}