body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

/* Menu */
a {
  color: #fff;
}

.header {
  background-color: #515150;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #515150;
}

.header ul a {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.header ul a:hover {
  color: #5aa8dc;
}

.header .logo {
  float: left;
  display: block;
  padding: 10px 20px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}

.header .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
/* Media Qurey */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.wrapper {
  width: 100%;
}

.main-content {
  width: 100%;
}

.main-content h2 {
  padding: 30px 30px 0px;
  font-size: 50px;
  color: #5aa8dc;
  line-height: 44px;
}

.main-content p {
  padding: 0px 30px 10px;
  font-size: 16px;
  color: #000;
  line-height: 24px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 600px;
    margin: auto;
  }

  .main-content h2 {
    padding: 20px 0px 0px;
  }

  .main-content p {
    padding: 20px 0px 0px;
  }

  .products h2 {
    padding: 20px 0px 0px;
  }

  .products p {
    padding: 20px 0px 0px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }

  .main-content h2 {
    padding: 10px 0px 0px;
  }
}
