* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 50px;
  background: #00b8fc;
  padding: 30px 30px 30px;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 44px;
  left: 50%;
  right: 50%;
}

.header h1 {
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
}

.menu {
  display: block;
  padding: 30px 30px 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
}

.menu ul {
  list-style: none;
}

.menu ul a {
  text-decoration: none;
  color: #111;
}

.menu ul a:hover {
  color: #00b8fc;
}

.img-info {
  width: 100%;
}

.img-info h2 {
  padding: 30px 30px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #00b8fc;
  line-height: 44px;
  text-transform: uppercase;
}

.img-info p {
  padding: 0px 30px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}
.img-info a {
  text-decoration: none;
  color: #111;
}

.img-info a:hover {
  color: #00b8fc;
}

.img-info2 {
  width: 100%;
}

.img-info2 h2 {
  padding: 30px 30px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #00b8fc;
  line-height: 44px;
  text-transform: uppercase;
}

.img-info2 p {
  padding: 0px 30px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

.img-info2 a {
  text-decoration: none;
  color: #111;
}

.img-info2 a:hover {
  color: #00b8fc;
}

.ocean {
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #00b8fc;
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  height: 30px;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .img-info h2 {
    padding: 20px 0px 0px;
  }

  .img-info p {
    padding: 20px 0px 0px;
    font-size: 18px;
    line-height: 26px;
  }

  .menu {
    display: block;
    padding: 20px 0px 0px;
  }
  .ocean {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 1000px;
  }

  .img-info {
    width: 100%;
    float: left;
  }

  .img-info2 {
    width: 50%;
    float: left;
  }

  .img-info h2 {
    padding: 20px 0px 0px 30px;
  }

  .img-info p {
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0px 0px 30px;
  }

  .img-info2 p {
    font-size: 20px;
    line-height: 26px;
    padding: 20px 0px 0px 30px;
  }

  .menu {
    display: block;
    padding: 20px 0px 0px 30px;
  }

  .ocean {
    width: 50%;
    float: right;
  }
}
